{% extends "auctions/layout.html" %}

{% block body %}
    <h2 class="mb-3">Create Listing</h2>

    <form action="{% url 'create' %}" class="pl-3" method="POST">
        {% csrf_token %}
        <div class="row mb-3">
            <label for="title" class="col-sm-2 form-label">Title:</label>
            <div class="col-sm-10">
                <input type="text" name="title" class="form-control" placeholder="Title" required>
            </div>
        </div>
        <div class="row mb-3">
            <label for="description" class="col-sm-2 col-form-label">Description:</label>
            <div class="col-sm-10">
                <textarea name="description" class="form-control" placeholder="Description" rows="4" cols="50" required></textarea>
            </div>
        </div>
        <div class="row mb-3">
            <label for="bid" class="col-sm-2 col-form-label">Starting Bid:</label>
            <div class="col-sm-10">
                <input type="text" name="starting_bid" class="form-control" placeholder="Starting Bid (e.g. 50.00)" required>
            </div>
        </div>
        <div class="row mb-3">
            <label for="image" class="col-sm-2 col-form-label">Image URL:</label>
            <div class="col-sm-10">
                <input type="text" name="image" class="form-control" placeholder="Image URL (optional)">
            </div>
        </div>
        <div class="row mb-3">
            <label for="category" class="col-sm-2 col-form-label">Category:</label>
            <div class="col-sm-10">
                <select name="category" class="form-control">
                    <option selected>Choose (optional)...</option>
                    {% for value, label in categories %}
                        <option value="{{ value }}">{{ label }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row mb-3 ml-1">
            <button type="submit" class="btn btn-primary">Create Listing</button>
        </div>
    </form>

{% endblock %}