{% extends "palettes/layout.html" %}

{% block title %}Password Reset Confirm{% endblock %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    <div id="confirm-box" class="card bg-transparent mx-auto">
        <h2 class="acct-head text-center mt-3">Password Reset Confirm</h2>
        <div class="card-body">
            <div class="mb-3">
                {% for field in form %}
                <div class="mb-3">
                    <label for="{{ field.id_for_label }}" class="form-label reg-label d-block">
                        {{ field.label }}
                    </label>
                    {{ field }}
                    {% if field.errors %}
                    <small class="mt-2" style="color: white;">{{ field.errors }}</small>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            <div>
                <button type="submit" class="btn" style="background-color: #B7EB9B; color:#444A53">Reset Password</button>
            </div>
        </div>
    </div>
</form>
{% endblock %}